 <h2>Hi</h2><br/>

 <p>The credit card you provided previously for your Poker Radius Premium Plan membership has declined when we tried to renew your membership.  <br/> 

            Since your payment was not processed successfully,  you will be downgraded to the basic plan.   <br/> 
          <h2>  But Don’t Worry! </h2><br/>
     If you believe there’s an error in billing or if at any time you want to return to the Premium Plan,  please reach out to us at anytime by replying to this email or contacting us through our contact page.</p><br/>
     <h4>Sincerely</h4>,
    <h4>POKER RADIUS  Support Team</h4>