
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0"> 
    <meta name="format-detection" content="telephone=no">
    <title>Apptual</title>
    <style type="text/css">

      .ReadMsgBody { width: 100%; background-color: menubar_color;}
      .ExternalClass {width: 100%; background-color: menubar_color;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
      body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      body {margin:0; padding:0;}
      table {border-spacing:0;}
      img{display:block !important;}

      table td {border-collapse:collapse;}
      .yshortcuts a {border-bottom: none !important;}

      *[class="header-color"]{
        background-color:#567a0f;
      }
      *[class="color-tab"]{
        background-color:#567a0f !important; 
      }


      *[class="button"] {
        height: 40px !important;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; 
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; 
        background-color: #567a0f; 
        padding-left: 25px !important;
        padding-right:25px !important;

      }

      *[class="ios-main-link"]{
        color:#aaaaaa !important;
        font-weight:normal !important;
      }
      span[class="ios-main-link"] a{
        color:#567a0f !important;
        text-decoration: none;
        font-weight:normal !important;
      }

      span[class="ios-white-link"] a {
        color:#567a0f;
        text-decoration: none;
      }

      span[class="ios-gray-link"] a{
        color: #567a0f;
        text-decoration: none;
      }

      *[class="border-desks"] {
        background-color: #c7c5c5;
        -moz-box-shadow: 0 5px 7px rgba(0,0,0,.64); 
        -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.64); 
        box-shadow: 0 5px 7px rgba(0,0,0,.64); 
      }


      @media screen and (max-width: 479px) {
        
        table[class="container"] {
          width: 100%!important;
        }
        td[class="container-padding"] {
          padding-left: 12px !important;
          padding-right: 12px !important;
        }

        table[class="col-2"]{
          width: 100% !important;
          float: none !important;
         
          margin-bottom: 12px;
          padding-bottom: 12px;
          padding-left:20px;
          padding-right:20px;
          border-bottom: 1px solid #eee;

        }

       td[class="force-col"] {
          display: block;
          padding-right: 0 !important;
        }
       
        *[class="force-remove"]{
          display:none;
        }
         *[class="force-center"]{
          float:none !important;
          width:100% !important;
          text-align: center !important;
        }
          *[id="bottom-line"]{
            border-top: 0px !important;
            border-left:0px !important;
            border-right:0px !important;
            border-bottom: 1px solid #eee;
        }

      }

      @media only screen and (max-width : 600px) {

        table[class="container"] {
          width: 100% !important;
        }
        *[id="pad-left-right"]{
          padding-left: 20px !important;
          padding-right:20px !important;
        }
        *[id="pad-top"]{
          padding-top: 12px !important;
        }

        *[class="force-resize"]{
          width:80% !important;
          height:80% !important;
        }

        td[class="force-col"] {
          display: block;
          padding-right: 0 !important;
        }
         *[class="reset-align"]{ 
          float: none !important;
        }

        *[class="force-remove"]{
          display:none;
        }
        *[class="force-reduce-height"]{
          height:20px !important;
        }
        *[class="force-center"]{
          float:none !important;
          width:100% !important;
          text-align: center ;
        }

        *[class="increase-padding-top"] {
          padding-top:20px !important;
        }
         *[class="increase-padding-bottom"] {
          padding-bottom:20px !important;
        }
        *[class="reduce-padding-top"] {
          padding-top:12px !important;
        }
         *[class="reduce-padding-bottom"] {
          padding-bottom:12px !important;
        }
        *[id="reduce-padding-bottom"] {
          padding-bottom:12px !important;
        }

        *[id="bottom-line"]{
          border:none !important;
          border-bottom: 1px solid #eee !important;

        }

        
         table[class="col-2"]{
          float: none !important;
          width: 100% !important;
          margin-bottom: 12px;
          padding-bottom: 12px;
          padding-left:20px;
          padding-right:20px;
          border-bottom: 1px solid #eee;

        }
        table[id="last-col-2"] {
          padding-left:20px ;
          padding-right:20px ;
          border-bottom: none !important;
          margin-bottom: 0;
        }

        table[class="col-3"] {
          float: none !important;
          width: 100% !important;
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #eee;
        }
        table[id="last-col-3"] {
          border-bottom: none !important;
          margin-bottom: 0;
        }
        img[class="col-3-img"] {
          float: left;
          margin-left: 6px;
          max-width: 130px;
        }
      }

      ul.circle_style { list-style-type: circle;}
    </style>
  </head>

  <body style="font-family:arial;font-size:14px;line-height:20px;padding:0px 10px 0px 15px;">

  <font color="#333333"> Hi <%= @user.name.split(" ")[0] %>,</font>
<div style="margin:15px 0px; font-weight:bold;">
Congratulations on becoming a Premium Plan member and taking your poker networking to the next level!
</div>

<div style="margin:15px 0px;">
With your upgraded membership, you now have access to the following features and discounts!
</div>

<ul style="padding:0px 15px;">
<!--   <li>
<strong>Groups</strong> (interact with experienced poker players around the globe at any time within our on-going 

 message forum featuring topics that will certainly pique your interest!)

</li> -->
<li>
<strong>Access to Your Exclusive Dashboard</strong>
  <ul class="circle_style">
    <li>
      Access your private dashboard to help you track all your lifetime poker wins and losses with detailed charts, graphs and so much more!
    </li>
   </ul>
</li>

<li>
<strong>Customize your profile URL.</strong>
  <ul class="circle_style">
    <li>
      Don’t like the “1234” in <a href="http://www.PokerRadius.com">http://www.PokerRadius.com</a>\1234? Change it!
    </li>
   </ul>
</li>

<li>
<strong>Automatic entry into all Facebook and Twitter Promotions</strong>
  <ul class="circle_style">
    <li>
      Any promotion we make available to our facebook or twitter community, you will always be entered – <b>automatically</b>.
    </li>
   </ul>
</li>

<li>
<strong>Ante Up Magazine VIP Package</strong>
  <ul class="circle_style">
    <li>
      Participate in the Ante Up message forums and get showcased in the "Call the Floor", "Listener Spotlight" or "Hand of the Week" poker cast segments and win double the prize!
    </li>
   </ul>
</li>

<li>
<strong>VIP Middle Pair Package</strong>
  <ul class="circle_style">
    <li>
      MiddlePair.com collaborates with some of the top online poker rooms to help increase traffic to their sites and ensure the best security and entertainment for poker players. The CEO of MiddlePair.com will be contacting you shortly to provide you exclusive and direct insight into all online promotions so you know about them before anyone else!
    </li>
   </ul>
</li>


<li>
<strong>Casino Seminars Package with Professional Coach Thomas Gallagher</strong>
  <ul class="circle_style">
    <li>
      Professional Coach of 4,500+ students, Thomas Gallagher from Poker911.net, offers all premium plan members $20 off any private in-person training session, $10 off any live teleconference training and a free 30 minute phone call to answer any poker strategy questions. <b>Just mention code ‘PRadiusNow’ when signing up! </b>
    </li>
   </ul>
</li>

<li>
<strong>25% Off Any Membership Plan at Advanced Poker Training</strong>
  <ul class="circle_style">
    <li>
      Improve your poker game while playing up to 500 hands an hour against the smartest artificially intelligent poker players ever designed on AdvancedPokerTraining.com. Premium plan members receive 25% of any membership plan!  <b>Be sure to use code ‘RADIUS’ to receive your discount!</b>
    </li>
  </ul>
</li>

<li>
<strong>25% Off Any Shirt at High Roller Clothing &lt;High Roller Clothing image&gt;</strong>
  <ul class="circle_style">
    <li>
      Receive a 25% discount as a premium plan member and become part of the High Roller community with fashionable poker clothing found at HighRollerClothing.com!
<b>Be sure to use code ‘RADIUS’ to receive your discount!</b>
    </li>
  </ul>
</li>


<li>
<strong>25% Off Any Poker Card Guard at Bluffer Poker Coins </strong>
  <ul class="circle_style">
    <li>
      Mike Matusow purchased 10 poker guards from Bluffer and gave one to everyone at Phil Hellmuth's table during a WSOP Pot Limit Omaha event. Get in on the action and receive 25% off any poker card guard as a premium plan member! <b>Be sure to use code ‘RADIUS’ to receive your discount!</b>
    </li>
  </ul>
</li>

<li>
<strong>10% Off Any Pro Poker Gear Purchase</strong>
  <ul class="circle_style">
    <li>
      ProPokerGear.com is your premier outlet for custom poker bracelets, rings and pendants in Sterling Silver, Gold, and Platinum. As a premium plan member, receive 10% off any purchase! <b>Be sure to use code ‘RADIUS’ to receive your discount!</b>
    </li>
  </ul>
</li>

<li>
<strong>Free Shipping at Tournament Button</strong>
  <ul class="circle_style">
    <li>
      TournamentButton.com is the leading industry leader in customized electronic Tournament Dealer Buttons. Premium plan members receive free shipping on any order!  <b>Be sure to use code ‘PRShip’ to receive your discount!</b>
    </li>
  </ul>
</li>

</ul>

<div style="margin:15px 0px;">
If you have any questions with any of these new features or discounts, please reach out to us at anytime by replying to this email or contacting us through our contact page.
</div>

Sincerely,<br/>

Poker Radius Support Team

  </body>
</html>

<!-- 348743058322492 -->
