<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0"> 
    <meta name="format-detection" content="telephone=no">
    <title>Apptual</title>
    <style type="text/css">

      .ReadMsgBody { width: 100%; background-color: menubar_color;}
      .ExternalClass {width: 100%; background-color: menubar_color;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
      body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      body {margin:0; padding:0;}
      table {border-spacing:0;}
      img{display:block !important;}

      table td {border-collapse:collapse;}
      .yshortcuts a {border-bottom: none !important;}

      *[class="header-color"]{
        background-color:#567a0f;
      }
      *[class="color-tab"]{
        background-color:#567a0f !important; 
      }


      *[class="button"] {
        height: 40px !important;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; 
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; 
        background-color: #567a0f; 
        padding-left: 25px !important;
        padding-right:25px !important;

      }

      *[class="ios-main-link"]{
        color:#aaaaaa !important;
        font-weight:normal !important;
      }
      span[class="ios-main-link"] a{
        color:#567a0f !important;
        text-decoration: none;
        font-weight:normal !important;
      }

      span[class="ios-white-link"] a {
        color:#567a0f;
        text-decoration: none;
      }

      span[class="ios-gray-link"] a{
        color: #567a0f;
        text-decoration: none;
      }

      *[class="border-desks"] {
        background-color: #c7c5c5;
        -moz-box-shadow: 0 5px 7px rgba(0,0,0,.64); 
        -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.64); 
        box-shadow: 0 5px 7px rgba(0,0,0,.64); 
      }


      @media screen and (max-width: 479px) {
        
        table[class="container"] {
          width: 100%!important;
        }
        td[class="container-padding"] {
          padding-left: 12px !important;
          padding-right: 12px !important;
        }

        table[class="col-2"]{
          width: 100% !important;
          float: none !important;
         
          margin-bottom: 12px;
          padding-bottom: 12px;
          padding-left:20px;
          padding-right:20px;
          border-bottom: 1px solid #eee;

        }

       td[class="force-col"] {
          display: block;
          padding-right: 0 !important;
        }
       
        *[class="force-remove"]{
          display:none;
        }
         *[class="force-center"]{
          float:none !important;
          width:100% !important;
          text-align: center !important;
        }
          *[id="bottom-line"]{
            border-top: 0px !important;
            border-left:0px !important;
            border-right:0px !important;
            border-bottom: 1px solid #eee;
        }

      }

      @media only screen and (max-width : 600px) {

        table[class="container"] {
          width: 100% !important;
        }
        *[id="pad-left-right"]{
          padding-left: 20px !important;
          padding-right:20px !important;
        }
        *[id="pad-top"]{
          padding-top: 12px !important;
        }

        *[class="force-resize"]{
          width:80% !important;
          height:80% !important;
        }

        td[class="force-col"] {
          display: block;
          padding-right: 0 !important;
        }
         *[class="reset-align"]{ 
          float: none !important;
        }

        *[class="force-remove"]{
          display:none;
        }
        *[class="force-reduce-height"]{
          height:20px !important;
        }
        *[class="force-center"]{
          float:none !important;
          width:100% !important;
          text-align: center ;
        }

        *[class="increase-padding-top"] {
          padding-top:20px !important;
        }
         *[class="increase-padding-bottom"] {
          padding-bottom:20px !important;
        }
        *[class="reduce-padding-top"] {
          padding-top:12px !important;
        }
         *[class="reduce-padding-bottom"] {
          padding-bottom:12px !important;
        }
        *[id="reduce-padding-bottom"] {
          padding-bottom:12px !important;
        }

        *[id="bottom-line"]{
          border:none !important;
          border-bottom: 1px solid #eee !important;

        }

        
         table[class="col-2"]{
          float: none !important;
          width: 100% !important;
          margin-bottom: 12px;
          padding-bottom: 12px;
          padding-left:20px;
          padding-right:20px;
          border-bottom: 1px solid #eee;

        }
        table[id="last-col-2"] {
          padding-left:20px ;
          padding-right:20px ;
          border-bottom: none !important;
          margin-bottom: 0;
        }

        table[class="col-3"] {
          float: none !important;
          width: 100% !important;
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #eee;
        }
        table[id="last-col-3"] {
          border-bottom: none !important;
          margin-bottom: 0;
        }
        img[class="col-3-img"] {
          float: left;
          margin-left: 6px;
          max-width: 130px;
        }
      }
    </style>
  </head>

  <body style="font-family:arial;font-size:14px;line-height:20px;padding:0px 10px 0px 15px;">


<font color="#333333">Hi <%= @post_owner.name.split(" ")[0]%>, </font>

<div style="margin:15px 0px;">
Your connection <%=  @like_user.name%> has liked your comment.
</div>

<div style="margin:15px 0px;">
  <b> <%= @post.status%></b>
</div>

<div style="margin:15px 0px;">
You are receiving emails from PokerRadius.com. Unsubscribe by clicking on the Opt In/Opt out email 

communication option within the settings page. This email was intended for <%= @post_owner.name%>. If you are not 

the intended recipient, please delete this message.
</div>

  </body>
</html>

