= form_tag('#', id: 'friend_search') do
  = hidden_field_tag :user_id, user_id
  = text_field_tag :search, nil, :placeholder => 'Search', :id => 'search_friends_field', class: 'search_friends_autocomplete'
  = submit_tag "Submit", :class => 'search_button btn btn-success'
