/* line 1, /home/yuva/Desktop/project/richard/pokerradius/app/assets/stylesheets/poker_news_rss.css.scss */
#poker_news_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 6, /home/yuva/Desktop/project/richard/pokerradius/app/assets/stylesheets/poker_news_rss.css.scss */
#poker_news_container_title {
  padding: 5px;
  text-align: center;
  background-color: #393939;
  color: #c9c9c9;
  font-size: 16px;
}

/* line 14, /home/yuva/Desktop/project/richard/pokerradius/app/assets/stylesheets/poker_news_rss.css.scss */
#poker_news_feed {
  max-height: 450px;
  overflow-y: scroll;
  background-color: #f0f0f0;
  min-height: 60px;
  padding: 5px;
}
/* line 21, /home/yuva/Desktop/project/richard/pokerradius/app/assets/stylesheets/poker_news_rss.css.scss */
#poker_news_feed img {
  width: 55%;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 27, /home/yuva/Desktop/project/richard/pokerradius/app/assets/stylesheets/poker_news_rss.css.scss */
#poker_news_feed hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
