= form_for :achievement, html: { class: 'achievement_form'} do |f|
  = f.text_area :description, placeholder: 'Let everyone know about tournament wins, recognition received or personal accomplishments.', class: 'achievement_field'

  = f.submit "Submit", class: 'btn btn-success martop7'
