td.padding_lft_0px.text-right
  span.cash_hidden.marrt3px= link_to 'save', '#', id: 'cash_update_btn_' + log.id.to_s, class: 'btn btn-success cash_update_btn btnpadd0px',data: {cash_id: log.id}
  span.cash_hidden= link_to 'delete', '#', id: 'cash_delete_btn_' + log.id.to_s , class: 'btn btn-danger cash_delete_btn btnpadd0px'
  
