td.padding_lft_0px.text-right
  span.tournament_hidden.marrt3px= link_to 'save', '#', id: 'tourn_update_btn_' + tourn.id.to_s, class: 'btn btn-success new_update_btn save_tourn btnpadd0px',data: {tourn_id: tourn.id}
  span.tournament_hidden= link_to 'delete', '#', id: 'tourn_delete_btn_' + tourn.id.to_s , class: 'btn btn-danger delete_btn delete_tourn btnpadd0px'
 