/***************************************/
/* Auto Scroll Button Styling */
/***************************************/

#auto-scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width:55px;
  height:60px;
}