.like_status {
	color: #5BA304;
	text-decoration:none;
}

.like_status:hover {
	color: #5BA304;
	text-decoration:none;
}

.comment_status {
	color: #5BA304;
	text-decoration:none;
}

.comment_status:hover {
	color: #5BA304;
	text-decoration:none;
}